.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;

    background-color: #e68b4e; /* TODO */
}

.nav-container {
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    width: 100%;
    padding: 0 20px;
    /* position: fixed; */
}

.bottom-bar {
    display: flex;
    justify-content: space-around;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.main-fold {
    position: absolute;
    /* top: 2rem; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

@media (min-width: 720px) {
    .nav-container {
        background-color: transparent;
        flex-direction: column;
        margin-top: 2rem;
    }

    .nav-container form {
        margin-top: 2rem;
    }

    .bottom-bar {
        justify-self: flex-end;

        flex-direction: column;
        justify-content: space-around;
        align-self: center;
        height: 20%;

        margin-bottom: 10rem;
    }
}
