.dice-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    height: 6rem;
    box-shadow: 0 2px 4px 0 rgba(34, 36, 218, 0.75);
    border-radius: 0.4rem;
}

.die-image {
    width: 4rem;
    height: 4rem;
    border-radius: 0.3rem;
    box-shadow: tomato 0 0 0 0.2rem;
}
