.player-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

/* .player-name {
    justify-self: flex-start;
} */

.player-roll {
    font-size: 2.5rem;
    font-weight: 400;
}
