* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.mb-1 {
    margin-bottom: 0.5rem;
}

.bg-dark {
    background-color: #bd8a8a;
}

.bg-light {
    background-color: #f2f2f2;
}

.bg-error {
    background-color: #c94409;
}

.bg-button {
    background-color: #4caf50;
}

.bg-dice {
    background-color: #d3f418;
}
.bg-dice-2 {
    background-color: rgb(228, 203, 62);
}
